{% extends "base.html.jinja" %} 
{% block homepage_articles %}
<article>
  <h2>Github Quick Hits!</h2>
  <div class="card card-body bg-light">
    <footer class="post-info">
      <span class="badge bg-secondary">Date</span>
      <span class="published">
        <i class="fa fa-calendar"></i>
        <time datetime="2018-08-24T15:40:00-04:00">Fri 24 August 2018</time>
      </span>
      <span class="badge bg-secondary">Tags</span>
      <a href="./tag/git.html">git</a>
      /
      <a href="./tag/coding.html">coding</a>
    </footer>
  </div>
</article>
<br>
<br>
<article>
  <h2>FoodHub EDA Analysis</h2>
  <div class="card card-body bg-light">
    <footer class="post-info">
      <span class="badge bg-secondary">Date</span>
      <span class="published">
        <i class="fa fa-calendar"></i>
        <time datetime="2018-08-24T15:40:00-04:00">Fri 24 August 2018</time>
      </span>
      <span class="badge bg-secondary">Tags</span>
      <a href="./tag/git.html">git</a>
      /
      <a href="./tag/coding.html">coding</a>
    </footer>
  </div>
</article>
{% endblock %}
